.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    background-color: rgb(8, 8, 20);
    height: 60rem;
    padding-top: 18rem;
    margin-top: -10rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;

}
.eximg{
    width: 15rem;
}
.headline{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;


}
.feature{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 6rem;
    width: 100%;

}